<div class="d-flex justify-content-center align-items-center vh-80 custom-editform  mt-5" style="color: white;">
  <div class="card-body d-flex flex-column newEventContainer  mt-3" style="color: #ffff; max-width: 500px;">
    <h5>Edit Guest Details</h5>
    <div class="guest-container mt-3">
      <%= simple_form_for @guest, url: guest_path(@guest), method: :patch, html: { class: 'container' } do |form| %>
        <div class="field mb-3" tabindex="1">
          <%= form.label :first_name do %>
            <i class="far fa-user"></i> <%= "First Name" %>
          <% end %>
          <%= form.text_field :first_name, class: "form-control", required: true %>
        </div>
        <div class="field mb-3" tabindex="2">
          <%= form.label :last_name do %>
            <i class="far fa-user"></i> <%= "Last Name" %>
          <% end %>
          <%= form.text_field :last_name, class: "form-control", required: true %>
        </div>
        <div class="field mb-3" tabindex="3">
          <%= form.label :email do %>
            <i class="far fa-envelope"></i> <%= "Email" %>
          <% end %>
          <%= form.email_field :email, class: "form-control", required: true %>
        </div>
        <%= form.submit "Update", class: "btn btn-dark mt-3" %>
      <% end %>
    </div>
  </div>
</div>
