<%# the popup function will use vanilla JavaScript at the moment%>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<div class="d-flex flex-column" style="padding: 40px 95px;">
  <div class="sparkletitle w-100 text-center">
    <p>settings</p>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center" >
    <div class="card-body d-flex flex-column newEventContainer">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h3 style="text-transform: uppercase; letter-spacing: 4px; color: #ffff; font-family: 'Rajdhani', sans-serif; color: white;">Edit Profile</h3>
      <div class="mt-4" style="letter-spacing: 2px; color: #ffff; font-family: 'Rajdhani', sans-serif; color: white;">
        <%= f.error_notification %>

          <div class="form-inputs">
            <div class="d-flex flex-row">
              <div class="m-2">
                <%= f.input :first_name %>
              </div>
              <div class="m-2">
              <%= f.input :last_name %>
            </div>
            </div>
            <div class="m-2">
              <%= f.input :company %>
              <%= f.input :email, required: true, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>

              <%= f.input :current_password,
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
            <div class="form-actions">
            <div class="d-flex justify-content-start form-actions singupbtn btn-dark">
              <%= f.button :submit, "Update" %>
              </div>
            </div>
          </div>
          <% end %>
          </div>
      </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content card-body" style="background: transparent; letter-spacing: 2px; color: #ffff; font-family: 'Rajdhani', sans-serif; color: white; cursor: pointer;  border: 1px solid rgba(255, 255, 255, 0.674) !important;">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Payment</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style=" position: absolute; top: 3%; right: 3%;"></button>
        </div>
        <div class="modal-body">
          <p style="font-size: 13px;">Please provide credit card info to confirm the upgrade</p>
          <%= simple_form_for @user, html: { id: 'subscriptionPaymentForm' } do |f| %>
            <div class="form-group">
              <%= f.input :card_name, label: "Card Holder", input_html: { id: 'card_name_input' } %>
            </div>
            <div class="form-group">
              <%= f.input :card_number, label: "Card Number", input_html: { id: 'card_number_input' } %>
            </div>
            <div class="form-group">
              <%= f.input :card_expiry, label: "Expiry Date", as: :string, input_html: { id: 'card_expiry_input' } %>
            </div>
            <div class="form-group">
              <%= f.input :card_cvc, label: "CVC", input_html: { id: 'card_cvc_input' } %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer d-flex flex-row w-100 justify-content-evenly">
          <button type="button" class="btn-dark" data-bs-dismiss="modal" style="width: 40%">Cancel</button>
          <button type="button" class="btn-dark" id="confirmPaymentButton" style="width: 40%">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body d-flex flex-column justify-content-start newEventContainer " style="max-width: 630px; height: 798px;">
    <%= simple_form_for @user, html: { id: 'subscriptionForm' } do |f| %>
      <h3 style="text-transform: uppercase; letter-spacing: 4px; color: #ffff; font-family: 'Rajdhani', sans-serif; color: white;">Subscription Type</h3>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <% User::SUBSCRIPTION_TYPES.each do |subscription_type| %>
            <div class="w-100 text-light m-3 <%= 'selected' if subscription_type == @user.subscription_type %>" style="letter-spacing: 2px; color: #ffff; font-family: 'Rajdhani', sans-serif; color: white; cursor: pointer;">
              <div class="card-body w-100 d-flex flex-row ">
                <div style="margin-right: 22px;">
                  <%= f.radio_button :subscription_type, subscription_type, class: 'form-check-input', id: "subscription_type_#{subscription_type.downcase}" %>
                </div>
                <div class="d-flex flex-column align-items-start">
                  <h5 class="card-title"><%= subscription_type.capitalize %></h5>
                  <p class="card-text">
                    <% case subscription_type.to_s %>
                      <% when 'Free' %>
                        3 events per month, 3 platforms per event, basic support
                      <% when 'Advanced' %>
                        Pay <i class="fa fa-credit-card" aria-hidden="true"></i> 5.99€/mo for 5 events per month, all 5 platforms per event, account manager
                      <% when 'Pro' %>
                        Pay <i class="fa fa-credit-card" aria-hidden="true"></i> 9.99€/mo for unlimited events per month, all 5 platforms per event, account manager
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
        <% end %>
                <%= f.hidden_field :card_name, id: 'card_name_hidden' %>
        <%= f.hidden_field :card_number, id: 'card_number_hidden' %>
        <%= f.hidden_field :card_expiry, id: 'card_expiry_hidden' %>
        <%= f.hidden_field :card_cvc, id: 'card_cvc_hidden' %>
      </div>
      <%= f.submit "Save", class: " singupbtn btn-dark", id: "saveButton", style: "margin: 0; margin-top: 30px;"   %>
    <% end %>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    // Show confirmation modal on button click
    $('#saveButton').on('click', function(e) {
      e.preventDefault(); // Prevent the default form submission behavior
      $('#confirmationModal').modal('show');
    });

    // Handle confirmation button click
    $('#confirmPaymentButton').on('click', function() {
      // Copy values from modal inputs to hidden fields in the main form
      $('#card_name_hidden').val($('#card_name_input').val());
      $('#card_number_hidden').val($('#card_number_input').val());
      $('#card_expiry_hidden').val($('#card_expiry_input').val());
      $('#card_cvc_hidden').val($('#card_cvc_input').val());

      // Submit the main form
      $('#subscriptionForm').submit();
    });
  });
</script>
