<div class="text-center vh-100 d-flex justify-content-center align-items-center homepagebackground">
  <div class="card-body d-flex flex-column singupContainer">
    <h2>Sing up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "d-flex flex-column align-items-center" }) do |f| %>
      <div class="form-inputs singupForm">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions singupbtn btn-dark">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
