<div class="card homepagebackgroundstatic mt-5">
  <div class="card-body text-center" style="color: #ffff;">
    <h2 class="card-title">Your event is drafted successfully in Eventbrite</h2>
    <%= link_to "HOME", root_path, class: "btn btn-light mt-3" %>
  </div>
</div>


<!--<h1>Code <%= @code %> </h1>
<h1>Code <%= @response_body %> </h1>
<h1>Code <%= @myorgs %> </h1>
<h2>Event: <%= @event_request %> </h2>
