<p>Hi <%= @recipient_email %>,</p>
<p>Join us for an unforgettable experience at our upcoming event "<%= @event.title %>".🎉</p>

<p>Here are the details:</p>
<ul>
  <li><strong>Location:</strong> <%= @event.location %></li>
  <li><strong>Date:</i></strong> <%= @event.start_date %>until  <%= @event.end_date %></li>
  <li><strong>Description:</i></strong> <%= @event.description %></li>
  <% if @event.online_event? %>
    <li>Online event.</li>
  <% else %>
    <li>Onsite event.</li>
  <% end %>
  <% if @event.url? %>
    <li><strong>Event URL:</strong> <%= @event.url %></li>
  <% end %>

</ul>

<p>Book the date. See you there!</p>
