<div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 400px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("caraousel0.jpg",  class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("caraousel1.jpg",  class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("caraousel2.jpg",  class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("caraousel5.jpg",  class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("caraousel6.jpg",  class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("caraousel7.jpg",  class:"d-block w-100") %>
          </div>
      <!-- Add more carousel items with images -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
