<%# the filter js function will use jQuery at the moment%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<div class="text-center h-100 d-flex justify-content-center align-items-center homepagebackgroundstatic" >

      <div class="w-100" style="margin-bottom: 110px;">

        <div class="enventsintrocontainer ">
          <p>your dashboard contains <%= Event.count %> events</p>
          <div class="d-flex justify-content-center mt-3">
            <p class="enventssmtext" >Your are posting across 1 platform</p>
            <p class="enventssmtext" style="margin: 0px 35px 12px 35px; " id="total-views">Your total views are <span id="total-views-count"></p>
            <p class="enventssmtext">Currently, <%= pluralize(@past_events_count, 'event') %> have ended</p>
          </div>
        </div>

        <nav role="navigation" class="primary-navigation pt-1 pb-5">
          <ul>
            <li>
              <a href="#">Events &dtrif;</a>
              <ul class="dropdown">
                <li id="filter-all"><a href="#">All Events</a></li>
                <li id="filter-upcoming"><a href="#">Upcoming Events</a></li>
                <li id="filter-past"><a href="#">Past Events</a></li>
              </ul>
            </li>

            <li><a href="#">Categories &dtrif;</a>
              <ul class="dropdown filters category">
                <li class="active" data-filter="*"><a href="#!">All</a></li>
                <li data-filter=".Food"><a href="#!">Food</a></li>
                <li data-filter=".Sport"><a href="#!">Sport</a></li>
                <li data-filter=".Concert"><a href="#!">Concert</a></li>
                <li data-filter=".Business"><a href="#!">Business</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Type &dtrif;</a>
              <ul class="dropdown filters online-offline">
                <li class="active" data-filter="*"><a href="#!">All</a></li>
                <li data-filter=".yes"><a href="#!">Online</a></li>
                <li data-filter=".no"><a href="#!">Offline</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <%#
        <button id="filter-all">Show All Events</button>
        <button id="filter-upcoming">Show Upcoming Events</button>
        <button id="filter-past">Show Past Events</button>

        <ul class="filters category" >
          <li class="active" data-filter="*"><a href="#!">All</a></li>
          <li data-filter=".Food"><a href="#!">Food</a></li>
          <li data-filter=".Sport"><a href="#!">Sport</a></li>
          <li data-filter=".Concert"><a href="#!">Concert</a></li>
          <li data-filter=".Business"><a href="#!">Business</a></li>
        </ul>

        <ul class="filters online-offline" >
          <li class="active" data-filter="*"><a href="#!">All</a></li>
          <li data-filter=".yes"><a href="#!">Online</a></li>
          <li data-filter=".no"><a href="#!">Offline</a></li>
        </ul>

        filter can be set by category%>

      </div>

      <div class="d-flex w-100 h-100 justify-content-evenly align-items-center flex-wrap" style="padding: 7% 0%;" >
        <% @events.each do |event| %>

            <%# # for each row 3 cards 1 per vinly %>
            <div class="mb-5 card-body-events justify-content-center flex-column h-100 item <%=event.categories%> <%= event.online_event ? 'yes' : 'no' %>" data-end-date="<%= event.end_date %>">
              <a href="<%= event_path(event) %>" class="card-link text-decoration-none">
                <div class="text-center">
                  <% if event.photo.attached? %>
                    <%= cl_image_tag event.photo.key, width: 400, height: 300, crop: :fill, class: "img-fluid card-img" %>
                  <% else %>
                    <%= image_tag("event_default.svg", class: "img-fluid eventimg") %>
                  <% end %>
                </div>
                <div class="details-container d-flex">
                  <div class="eventsinfo">
                    <h3> <%= event.title %></h3>
                    <div class="eventlocation d-flex flex-row justify-content-center">
                      <%= image_tag "location.png", alt: "location", width: "17", height: "15"%>
                      <h4 style="margin-left: 2%; "><%= event.location %></h4>
                    </div>
                    <% if event.hashtags? %>
                      <h4> <%= event.hashtags %></h4>
                    <% end %>
                    <h4> Posted on 1 platform</h4>
                     <% if event.eventlistings.present? %>
                       <% event.eventlistings.each do |eventlisting| %>
                       <h4 class="event-views" data-views="<%= event.eventlistings.sum(:views) %>"> Views: <%= event.eventlistings.sum(:views) %></h4>
                         <% end %>
                      <% else %>
                     <h4>0 views</h4>
                    <% end %>
                  </div>
                </div>
              </a>

          </div>
        <% end %>
      </div>

      <script>
        $(document).ready(function() {
          // Filter function
          $('.dropdown.filters li').on('click', function(e) {
            e.preventDefault();
            var filterValue = $(this).attr('data-filter');

            // Remove active class from all filters and add it to the clicked one
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            // Hide all cards and show only those matching the filter
            $('.card-body-events').hide().filter(filterValue).show();
          });

          // Initial filter setup
          $('#filter-all').click(); // Show all events initially
        });
      </script>

  <script>
$(document).ready(function() {
    // Initialize total views to 0
    var totalViews = 0;

    // Iterate over each event and sum up the views
    $('.card-body-events').each(function() {
        // Extract the views from the data attribute
        var views = parseInt($(this).find('.event-views').data('views')) || 0; // Parse integer, default to 0 if NaN
        totalViews += views;
    });

    // Display the total views in the element with id 'total-views-count'
    $('#total-views-count').text(totalViews);
  });
</script>

</div>
