<%# the filter js function will use jQuery at the moment%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<div class="text-center vh-100 d-flex justify-content-center align-items-center homepagebackgroundstatic" style="min-height: 1050px;">

      <div class="w-100">

        <div class="enventsintrocontainer ">
          <p>Your Dashboard Contains <%= Event.count %> Events</p>
          <div class="d-flex justify-content-center mt-3">
            <p class="enventssmtext" >Your are posting across 14 platforms</p>
            <p class="enventssmtext" style="margin: 0px 35px 12px 35px; ">Your total views are 653</p>
            <p class="enventssmtext">Currently, <%= pluralize(@past_events_count, 'event') %> have ended</p>
          </div>
        </div>

        <nav role="navigation" class="primary-navigation pt-1 pb-5">
          <ul>
            <li>
              <a href="#">Events &dtrif;</a>
              <ul class="dropdown">
                <li id="filter-all"><a href="#">All Events</a></li>
                <li id="filter-upcoming"><a href="#">Upcoming Events</a></li>
                <li id="filter-past"><a href="#">Past Events</a></li>
              </ul>
            </li>

            <li><a href="#">Categories &dtrif;</a>
              <ul class="dropdown filters category">
                <li class="active" data-filter="*"><a href="#!">All</a></li>
                <li data-filter=".Food"><a href="#!">Food</a></li>
                <li data-filter=".Sport"><a href="#!">Sport</a></li>
                <li data-filter=".Concert"><a href="#!">Concert</a></li>
                <li data-filter=".Business"><a href="#!">Business</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Type &dtrif;</a>
              <ul class="dropdown filters online-offline">
                <li class="active" data-filter="*"><a href="#!">All</a></li>
                <li data-filter=".yes"><a href="#!">Online</a></li>
                <li data-filter=".no"><a href="#!">Offline</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <%#
        <button id="filter-all">Show All Events</button>
        <button id="filter-upcoming">Show Upcoming Events</button>
        <button id="filter-past">Show Past Events</button>

        <ul class="filters category" >
          <li class="active" data-filter="*"><a href="#!">All</a></li>
          <li data-filter=".Food"><a href="#!">Food</a></li>
          <li data-filter=".Sport"><a href="#!">Sport</a></li>
          <li data-filter=".Concert"><a href="#!">Concert</a></li>
          <li data-filter=".Business"><a href="#!">Business</a></li>
        </ul>

        <ul class="filters online-offline" >
          <li class="active" data-filter="*"><a href="#!">All</a></li>
          <li data-filter=".yes"><a href="#!">Online</a></li>
          <li data-filter=".no"><a href="#!">Offline</a></li>
        </ul>

        filter can be set by category%>

      </div>

      <div class="d-flex w-100 justify-content-evenly flex-wrap " style="bottom: -200px;">
        <% @events.each do |event| %>
          <div class="col-12 col-sm-4 mb-4 item <%=event.categories%> <%= event.online_event ? 'yes' : 'no' %>" data-end-date="<%= event.end_date %>">
            <%# # for each row 3 cards 1 per vinly %>
            <div class="card-body justify-content-center flex-column h-100">
              <a href="<%= event_path(event) %>" class="card-link text-decoration-none">
                <div class="text-center">
                  <% if event.photo.attached? %>
                    <%= cl_image_tag event.photo.key, width: 400, height: 300, crop: :fill, class: "img-fluid card-img" %>
                  <% else %>
                    <%= image_tag("event_default.svg", class: "img-fluid card-img", style: "width:300px !important; height:300px !important;") %>
                  <% end %>
                </div>
                <div class="details-container d-flex">
                  <div>
                    <h3 style="font-weight: bold;"><%= event.title %></h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">  at <%= event.location %></h4>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;"> <%= event.hashtags %></h4>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;"> Posted 5 platforms (eventlistings ref)</h4>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;"> Views: 246 (sum of all eventlistings views)</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>

      <script>
        $(document).ready(function () {
          // filter function
          (function () {
            let $events_card = $('.eventscard');
            $events_card.isotope({
              itemSelector: '.item',
              layoutMode: 'fitRows',
            });

            // Handling category filter
            $('ul.filters.category > li').on('click', function (e) {
              e.preventDefault();

              let categoryFilter = $(this).attr('data-filter');

              $('ul.filters.category > li').removeClass('active');
              $(this).addClass('active');

              // Combine category and online/offline filters
              let onlineOfflineFilter = $('ul.filters.online-offline > li.active').attr('data-filter');
              let combinedFilter = categoryFilter + onlineOfflineFilter;

              $events_card.isotope({ filter: combinedFilter });
            });

            // Handling online/offline filter
            $('ul.filters.online-offline > li').on('click', function (e) {
              e.preventDefault();

              let onlineOfflineFilter = $(this).attr('data-filter');

              $('ul.filters.online-offline > li').removeClass('active');
              $(this).addClass('active');

              // Combine category and online/offline filters
              let categoryFilter = $('ul.filters.category > li.active').attr('data-filter');
              let combinedFilter = categoryFilter + onlineOfflineFilter;

              $events_card.isotope({ filter: combinedFilter });
            });

            // Show/hide past, upcoming, and all events
            $('#filter-upcoming').on('click', function () {
              $events_card.isotope({ filter: function () { return new Date($(this).data('end-date')) >= new Date(); } });
            });

            $('#filter-past').on('click', function () {
              $events_card.isotope({ filter: function () { return new Date($(this).data('end-date')) < new Date(); } });
            });

            $('#filter-all').on('click', function () {
              $events_card.isotope({ filter: '*' });
            });
          })();
        });
      </script>

</div>
