<div class="row rounded" style="width: 90%; padding: 60px 0px; margin-right: auto; margin-left:auto; backdrop-filter: blur(13px); box-shadow: 22px 3px 36px -4px rgba(0,0,0,0.54);">
  <div class="flat-form ">
    <h3 style="text-align: center; text-transform: uppercase; letter-spacing: 4px; color: #414040;">Create Event</h3>
    <div data-controller="datepicker" class="mt-4">
      <%= simple_form_for(@event) do |e| %>
        <%= e.input :title %>
        <%= e.input :description %>
        <%= e.input :location %>
        <%= e.input :start_date,
            as: :string,
            input_html: { data: { datepicker_target: "startDate" } } %>
        <%= e.input :end_date,
            as: :string,
            input_html: { data: { datepicker_target: "endDate" } } %>

        <% hashtags_value = @event.hashtags.present? ? @event.hashtags.join(', ') : '' %>
        <%= e.input :hashtags, as: :string, input_html: { value: hashtags_value, multiple: true, class: 'tags-input' } %>
        <%= e.input :online_event, as: :boolean, label: 'Is it an online event?' %>
        <%= e.input :url %>
        <%= e.input :categories, collection: ['Food', 'Sport', 'Concert', 'Business'], include_blank: 'Select Category' %>
        <%= e.input :photo, as: :file %>
        <%= e.submit %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/jquery.tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script>
  $(document).ready(function() {
    $('.tags-input').tagsInput({
      delimiter: [',', ' '],
      removeWithBackspace: true,  // This allows removing tags with backspace
      onChange: function(input) {
        // Convert the input value to an array separated by spaces
        var tagsArray = input.val().split(' ');
        input.importTags(tagsArray.join(','));
      }
    });
  });
</script>
