<div class="text-center h-100 d-flex justify-content-center align-items-center homepagebackgroundstatic" >

  <div class="w-100" style="margin-bottom: 110px;">
    <div class="d-flex flex-column align-items-center" >
      <div class="sparkletitle d-flex flex-wrap-reverse justify-content justify-content-around w-100" style="padding: 6% 1% 0% 1% !important;">
        <div style="width: 25%; margin: 0px; text-align: -webkit-right;">
          <%= link_to events_path, class: "btn-dark mt-1" do %>
            <i class="fa-solid fa-chevron-left" style="padding-right:10px;"></i> Back to Dashboard
          <% end %>
        </div>
        <p style="width: 50%; margin: 0px; ">event details</p>
        <div style="width: 25%; margin: 0px; "></div>
      </div>

          <div class="d-flex justify-content-center">
            <div class="">
              <div class="eventsdetail ml-2 d-flex flex-wrap justify-content-center" >
                <% if @event.photo.attached? %>
                  <%= cl_image_tag @event.photo.key, crop: :fill, class: "showimage h-100" %>
                <% else %>
                 <%= image_tag "event_default.svg", class: "showimage h-100" %>
                <% end %>
              <div class="m-5 detailevent" style="width: 50%;">
                <h3 style="font-weight: bold;"><%= @event.title %></h3>
                <p> Category: <%= @event.categories %></p>
                <p class="mb-1" >Event Location is <%= @event.location %></p>
                <% @event.eventlistings.each do |eventlisting| %>
                 <p> Views: <%= eventlisting.views %></p>
                <% end %>
                <p> <%= @event.description%>
                <p> <%= @event.start_date%></p>
                <% if @event.online_event? %>
                  <p>Online Event</p>
                <% else %>
                  <p>Onsite Event</p>
                <% end %>
                <% if @event.url? %>
                  <p><%= @event.url %></p>
                <% end %>
                <% if @event.hashtags? %>
                  <p><%= @event.hashtags %></p>
                <% end %>
                <div>
                  <small><%= link_to image_tag("rdpen.png", size: "40x40"), edit_event_path(@event), class: "float-right me-5" %></small>
                  <small><%= link_to image_tag("trash.png", size: "40x40"), event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@event.title} on all platforms?"}, class: "float-right "%></small>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="fw-bold" style="font-size: 30px; color:white;">
      <p class="m-0 mr-2">Post to<i class="fa-solid fa-share-nodes"></i></p>
      <%= link_to @eventbrite_oauth_link, class: "btn btn-outline zoom-on-hover eventbrite-icon" do %>
        <%= image_tag("Eventbrite_Logo.png", class: "img-fluid ml-4") %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 text-right m-0 mr-2 fw-bold" style="font-size: 40px;">
    <%= link_to invite_page_path(event_id: @event.id, event_title: @event.title, event_categories: @event.categories, event_location: @event.location, event_description: @event.description, event_start_date: @event.start_date, event_online: @event.online_event?, event_url: @event.url), class: "btn btn-outline btn-lg text-white" do %>

      <i class="fa-solid fa-envelope-open-text text-white"></i> Invite
    <% end %>

  </div>

</div>



<!-- Add more platforms as needed -->
</div>
</div>
</div>



  </div>
</div>
