<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Event Details</title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body>
    <p>Join us for an unforgettable experience at our upcoming event! 🎉</p>

  <h1><%= @event.title %></h1>
  <div id="header">
      <%= wicked_pdf_image_tag 'wicked.jpg' %>
  </div>
  <div id="content">
  <p><strong>Location:</strong> <%= @event.location %></p>
  <p><strong>Date:</strong> <%= @event.start_date %> until <%= @event.end_date %></p>
  <p><strong>Description:</strong> <%= @event.description %></p>
  <% if @event.online_event? %>
    <p>This is an online event.</p>
  <% else %>
    <p>This is an onsite event.</p>
  <% end %>

  </div>
</body>
</html>
