<% if user_signed_in? %>
<div class="text-center vh-100 d-flex justify-content-center align-items-center homepagebackground">
  <div class="sparkletitle">
    <p>event posting made easy</p>
  </div>
  <!-- Three containers for logged-in users -->
  <div class="row">
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("planner.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Post Event", new_event_path, class: "btn btn-dark" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("dashboard.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Manage Events", events_path, class: "btn btn-dark" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("settings.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-dark" %>
        </div>
    </div>
  </div>
</div>
<% else %>
  <!-- Banner for non-logged-in users -->
<div style="background: #101b38 !important;">
<div class="banner">
  <div class="container banner-content">
    <h1>Make your event <strong class="highlight">sparkle</strong>!</h1>
    <p>We automate your event posting process.</p>
    <a class="btn btn-ghost" href="#">Learn More</a>
  </div>
</div>
  <!-- Plattforms we offer to see for non-logged-in users -->
<div class="state"> Trusted by </div>
<div class="info-card">
  <div class="container text-center">
    <div class="row row-cols-4">
      <div class="col">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Eventbrite_Logo.svg" alt="" class="img-fluid">
        <%# <%= image_tag("xxreplace with coudinay link x",  class:"d-block w-100 h-100") %>
      </div>
      <div class="col">
      <img src="https://www.xpand-it.com/wp-content/uploads/2019/04/Banner-meetup-logo.png" alt="" class="img-fluid">
        <%# <%= image_tag("xxx",  class:"d-block w-100 h-100") %>
      </div>
      <div class="col">
      <img src="https://cdn.worldvectorlogo.com/logos/ticketmaster-5.svg" alt="" class="img-fluid">
        <%# <%= image_tag("xx",  class:"d-block w-100 h-100") %>
      </div>
      <div class="col">
      <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_lossy,ret_img,w_512,h_105/https://www.hypebot.com/wp-content/uploads/2023/05/01_BIT_Logo_OverLite-1024x210.png" alt="" class="img-fluid">
        <%# <%= image_tag("xxx",  class:"d-block w-100 h-100") %>
      </div>
    </div>
  </div>
</div>
<!-- Plattforms we offer to see for non-logged-in users -->

<div class="info-card" style="border-color: #cc99cc; border-style: dotted; background-color: #cc99cc, opacity: 0.2; border-radius: 25% 10%; margin: 20px; magrin-right: 40px">
  <div class="info-card-header highlight">
    Why to choose Syncsparkle?
  </div>
  <div class="info-card-body">
    <blockquote class="blockquote mb-0">
      <p>You face one big challenge in the arena of event promotion, that is battling the labor-intensive task of manually posting across several platforms.
 We come to the rescue! With one central application.You organize fairs, festivals, congresses, job fairs, company events or any other events, you have come to the right place.
 We offer customized solutions for your event type and target audience.</p>
    </blockquote>
  </div>
</div>
<div class="state">
<p> </p>
</div>
<!-- Reviews we offer to see for non-logged-in users -->
<div class="state"> See what our customers think </div>

<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">This is the first card.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">This is the second card.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">This is the third card.</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<% end %>
