<% if user_signed_in? %>
<div class="text-center vh-100 d-flex justify-content-center align-items-center flex-column" style="overflow: hidden;">
  <div class="sparkletitle">
    <p>event posting made easy</p>
  </div>
  <!-- Three containers for logged-in users -->
  <div class="row">
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("planner.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Post Event", new_event_path, class: " btn-dark" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("dashboard.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Manage Events", events_path, class: " btn-dark" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("settings.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Edit Profile", edit_user_registration_path, class: " btn-dark" %>
        </div>
    </div>
  </div>
</div>
<% else %>
  <!-- Banner for non-logged-in users -->
<%# style="background: #101b38 !important; %>
<div class="homepagebackground">
<div class="banner">
  <div class="container banner-content">
    <h1>Make your event <strong class="highlight">sparkle</strong>!</h1>
    <p>We automate your event posting process.</p>
    <a class="btn-dark solidbg" href="#">Learn More</a>
  </div>
</div>
  <!-- Plattforms we offer to see for non-logged-in users -->
<div class="state"> Trusted by </div>
<div class="info-card">
  <div class="container text-center">
    <div class="row">
  <div class="col-4">
    <%= image_tag("Eventbrite_Logo.png", class: "img-fluid") %>
  </div>
  <div class="col-4">
    <%= image_tag("Banner-meetup-logo.png", class: "img-fluid") %>
  </div>
  <div class="col-4">
    <%= image_tag("Ticketmaster-Logo-Azure_without_R.png", class: "img-fluid") %>
  </div>
</div>
  </div>
</div>
<!-- Plattforms we offer to see for non-logged-in users -->

<div class="d-flex">
  <div class="d-flex flex-column info-card">
  <div class="info-card-header">
  Why to choose Syncsparkle?
  </div>
  <p>You face one big challenge in the arena of event promotion, that is battling the labor-intensive task of manually posting across several platforms.
 We come to the rescue! With one central application.You organize fairs, festivals, congresses, job fairs, company events or any other events, you have come to the right place.
 We offer customized solutions for your event type and target audience. Read for yourself what our customers think!</p>
  </div>
</div>

<!-- Reviews we offer to see for non-logged-in users -->
<section class="testimonials">


  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0 border">
      <div class="d-flex justify-content-center mb-4">
        <%= image_tag("Avatar2.png", class: "rounded-circle shadow-1-strong", width: 150, height: 150) %></div>
      <h5 class="mb-3">Tamara Jane</h5>
      <h6 class="text-primary mb-3">Singer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Absolutely love this event listing tool for my gigs! It's incredibly user-friendly and intuitive,
        making it a breeze to create events. Plus, it is a game-changer for reaching my wider audience. Highly recommend it to
        anyone in need of a reliable solution! <i class="fas fa-quote-left pe-2"></i>
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
    </div>


    <div class="col-md-4 mb-5 mb-md-0 border">
      <div class="d-flex justify-content-center mb-4">
        <%= image_tag("Avatar1.png" , class: "rounded-circle shadow-1-strong", width: 150, height: 150)%>
      </div>
      <h5 class="mb-3">Leslie Peterson</h5>
      <h6 class="text-primary mb-3">Art Freelancer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>As an event based workshop organizer, I've tried numerous event tools, but none
        are as easy as this one. The interface is sleek and modern, and I appreciate how easy it is to navigate. What sets it apart
        is the robust e-mail template. It streamlines the entire process, saving me time and effort.
        I've received nothing but positive feedback from attendees since switching to this platform. <i class="fas fa-quote-left pe-2"></i>
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>



    <div class="col-md-4 mb-0 border">
      <div class="d-flex justify-content-center mb-4">
        <%= image_tag("Avatar3.png" , class: "rounded-circle shadow-1-strong", width: 150, height: 150) %>
      </div>
      <h5 class="mb-3">John Smith</h5>
      <h6 class="text-primary mb-3">Konzert Specialist</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>I use the tool mainly for its option to publish my concerts automatically. In addition, I can also send my fans event invitations by e-mail. With no costs, I like to use SyncSparkel again and again! I'm looking forward to seeing the application's other functions, which are currently under development <i class="fas fa-quote-left pe-2"></i>
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>

  </div>
</section>
<% end %>
