<% if user_signed_in? %>
<div class="text-center vh-100 d-flex justify-content-center align-items-center homepagebackground">
  <div class="sparkletitle">
    <p>event posting made easy</p>
  </div>
  <!-- Three containers for logged-in users -->
  <div class="row">
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("planner.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Post Event", new_event_path, class: "btn btn-dark" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("dashboard.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Manage Events", events_path, class: "btn btn-dark" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-body mb-4">
          <div class="cardimage">
            <%= image_tag("settings.png",  class:"d-block w-100 h-100") %>
          </div>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-dark" %>
        </div>
    </div>
  </div>
</div>
<% else %>
  <!-- Banner for non-logged-in users -->
  <div class="banner bannerdisplay" >
    <div class="banner-overlay"></div>
    <div class="banner-container text-center text-white h-100 loginbox" >
      <h1>WELCOME TO SYNCSPARKLE</h1>
      <p style="margin-bottom: 20px; color: #555;">Your go-to platform for posting events and reaching your audience.</p>
      <div class="buttonscontainer">
        <%= link_to "Login", user_session_path, class: "btn btn-dark explorebtn mr-2 loginbutton" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark explorebtn loginbutton" %>
      </div>
    </div>
  </div>
<% end %>
