<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card-body d-flex flex-column newEventContainer" style="color: #ffff;">
    <h4>
      Invite guests for the event
    </h4>

    <%= form_with url: invite_page_path, method: :get, local: true do |f| %>
    <div class="d-flex justify-content-between align-items-center mb-3"> <!-- Added d-flex and justify-content-between -->
        <div class="mb-3">
          <%= check_box_tag 'select_all', 1, false, id: 'select-all-checkbox' %>
          <%= label_tag 'select_all', 'Select All', class: 'ml-2' %>
        </div>
        <%= button_tag(type: 'submit', class: 'btn btn-sm text-white border') do %>
          <i class="fa-solid fa-envelope" style="color: white;"></i> Send  <!-- Moved button inside the flex container -->
        <% end %>
      </div>

      <%= f.collection_check_boxes(:emails, current_user.guests, :email, :email) do |b| %>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <div class="input-group-text">
        <%= b.check_box %>
        </div>
        </div>
        <%= b.label class: 'form-control text-center text-uppercase mb-1' %>
      <% end %>
      <%= f.hidden_field :event_id, value: @event.id %>


    <% end %>
  </div>
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const selectAllCheckbox = document.getElementById('select-all-checkbox');
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name="emails[]"]');
    const sendInvitesBtn = document.getElementById('send-invites-btn');
    const inviteForm = document.getElementById('invite-form');

    selectAllCheckbox.addEventListener('change', function() {
      checkboxes.forEach(checkbox => checkbox.checked = this.checked);
    });

    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        selectAllCheckbox.checked = checkboxes.length === document.querySelectorAll('input[type="checkbox"][name="emails[]"]:checked').length;
      });
    });

    sendInvitesBtn.addEventListener('click', function() {
      inviteForm.submit();
    });
  });
</script>
