<div class="text-center vh-100 d-flex justify-content-center align-items-center flex-column">
  <div class="card-body d-flex flex-column singupContainer">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "d-flex flex-column align-items-center" }) do |f| %>
      <div class="form-inputs singupForm">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions singupbtn btn-dark">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
